@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*reset básico*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
        font-family: "Fira Sans", sans-serif;
        font-weight: 200;
        font-style: normal;
}
/* fundo da página */
body {
    background: #2335fa;
background: linear-gradient(90deg, rgba(35, 53, 250, 1) 8%, rgba(51, 229, 232, 1) 50%, rgba(242, 242, 242, 1) 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*Caixa da calculadora*/
.calculadora{
    background-color: rgb(55, 124, 189);
    padding: 25px;
    border-radius: 20px;
    width: 320px;
    box-shadow: 14px 7px 25px 8px rgba(0,0,0,0.65);/*colocando sombra na caixa*/
    display: flex;
    flex-direction: column;
    gap: 20px;/*espaçamento entre os itens*/

}
/*Tela da calculadora*/
#tela{
    width: 100%;
    height: 60px;
    font-size: 28px;
    padding: 10px;
    border: none;/*tirar a borda da caixa*/
    border-radius: 10px;
    background-color: rgb(218, 215, 214);
    text-align: right;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}
/*Arrumando os botões*/
.botoes{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.linhas-botoes{
   display: flex;
   gap: 20px;
}
button{
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    background-color: rgb(214, 218, 218);
    color: black;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.4s ease;
    flex: 1;
}

button:hover{
    background-color: rgb(48, 108, 163);
    transform: translatey(-2px);/*ele levanta o botão*/
}

button:active{
    transform: scale(0.97);/*botao ficou com um efeito de clique*/
}

.operador{
    background-color: #0750b1;
    color: rgb(1, 2, 3);
}
.operador:hover{
    background-color: #4d8fe6;
}

.botao-limpar{
    background-color: rgb(196, 46, 46);
}

.botao-limpar:hover{
    background-color: rgb(168, 58, 58);
}

.delete{
    background-color: #46bb36;
}

.delete:hover{
    background-color: rgb(30, 228, 40);
}

.botao-zero{
    flex: 2;
}